/* Put your CSS here */
html, body {
  height: 100%;
  background: #222;
  color: white;
  font-size: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 500;
  //background-color: navy;
}

p, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.2rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin-bottom: 0.2em;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
}

h2 {
  font-size: 3rem;
  font-weight: 100;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff9900;
  text-decoration: underline;
}

/*
@keyframes domChanged { from { color: black; } }
@-webkit-keyframes domChanged { from { color: black; } }
.ember-view { animation: domChanged 1s; -webkit-animation: domChanged 1s; }
*/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin fill-vertical() {
  align-items: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.flex-grid {
  @include flexbox();
}

.flex-cell {
  @include flex(1);
}

.flex-cell-avatar {
  @include flex(0 0 52px);
}

.dashboard {
  margin: auto;
}

// .dashboard-grid {
//   @include flexbox();
//   @include fill-vertical();
// }

.gridster > ul {
  list-style: none;
}

.gridster > ul > li {
  @include rounded-corners(0.25rem);
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.dashboard-widget {
  padding: 0.5rem 1rem 1rem 1rem;
}

.details, .app-meta {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 0.9rem;
}

.app-meta {
  color: #777;
  text-align: right;
}

.hot {
  color: #ff9900;
}

.warm {
  color: #ffffff;
}

.cool {
  color: #999999;
}

.cold {
  color: #666666;
}

.avatar {

}

.feed-event {
  margin-top: 0.5rem;
}

/* D3 customizations */

.bar-chart {
  height: 240px;
  width: 500px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis .domain {
  fill: none;
  stroke: none;
}

.y-label {
  font-size: 0.8rem;
  font-weight: 500;
  fill: black;
}

svg text {
  fill: white;
  stroke: none;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.6rem;
  font-weight: 300;
}
