<h2>Upcoming</h2>

{{#each contents}}
  {{#view 'event-hotness' time=starts_at}}
    <div class="feed-event">
      <p>{{summary}}</p>
      <p class="details">
        {{view 'relative-time' time=starts_at}}
        {{#if location}}at {{location}}{{/if}}</p>
    </div>
  {{/view}}
{{else}}
  <p>None</p>
{{/each}}
