<div class="flex-grid">
  <div class="flex-cell">
    {{github-feed title="Code" channel="github-org-feed-substantial-sf" bayeux=bayeux}}
  </div>
  <div class="flex-cell">
    {{upcoming-events title="Upcoming" channel="icalendar-upcoming" bayeux=bayeux}}
  </div>
</div>
